@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

html {
  background: #000;

  background-image: url("images/2020_11_23_columna1_16_9_vertical.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Inconsolata', monospace;

  color: black;
  text-align: left;
  font-size: 16px;
}

body{
  margin: 5;
  padding: 5;
  margin: 10px;
}

main {
  display: block;
  background: #FFF;
  opacity: 0.8;
  padding: 5px;
  margin: auto;
}

main h1, h2, p, form {
  padding-bottom: 5px;
  margin: 10px;
}

main h1, h2 {
  margin-top: 15px;
}

main li {
  padding-bottom: 7px;
}

main p {
  line-height: 120%;
}

main a img {
  width: 98%;
  max-width: 1080px;
  height: auto;
}

main a p {
  text-align: center;
}

main a{
  color: red;
}

.button {
  background-color: red;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;

  cursor: pointer;
  width: 100%;

  padding: 5px;

  font-family: 'Inconsolata', monospace;
}

@media screen and (max-width: 600px) {
  main {
    font-size: 24px;
    margin: 10px;
  }
  .button {
    font-size: 24px;
  }
}

.center-me {
  margin: auto;
}
