body, html {
  height: 100%;
  display: grid;
  background: #000;
  margin: 0;
}

main {
  width: 1080px;
  height: 1920px;
  background-image: url("images/2020_11_23_columna1_16_9_vertical.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.center-me {
  margin: auto;
}

.rinyones {
  position: absolute;
  top: 1200px; left: 122px;
  width: 835px;
  height: 594px;
}

mirror {
  position: absolute;
  top: 0px; left: 0px;
  width: 1080px;
  height: 1920px;
  overflow: hidden;
}

.webcam {
  position: absolute;
  top: 0px; left: -700px;
  //filter: grayscale(1);
  opacity: 0.2;
  height: 100%;
}

mirror_v1 {
  position: absolute;
  top: 0px; left: 0px;
  width: 1080px;
  height: 1920px;
  overflow: hidden;
}

.webcam_v1 {
  filter: grayscale(1);
  opacity: 0.5;
  transform: rotate(90deg);
  height: 100%;
}

mirror_v2{
  position: absolute;
  top: 90px; left: 122px;
  width: 835px;
  height: 835px;
  overflow: hidden;
}

.webcam_v2{
  filter: grayscale(1);
  opacity: 0.5;
  //height: 100%;;
}
